################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TestWebApp/bin
/src/TestWebApp/obj
/src/TestWebApp/Properties/launchSettings.json
*.user
